.background {
    background-color: #104378;
}
.navbar {
    font-family: 'K2D', sans-serif;
	font-family: 'Pridi', serif;
    font-size: 20px;
    color: #ffffff;
} 
.active {
    overflow:hidden;
    border-bottom:5px solid rgb(255, 255, 255);
    padding:10px;
    /* background-color:#0853a3; */
}
.buttonlogout {
    padding: 15px;
    border-radius: 30px;
  }