.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: 'K2D', sans-serif;
	  font-family: 'Pridi', serif;
    font-size: 25px;
  }
  .form-signin {
    width: 100%;
    max-width: 80%;
    padding: 2rem;
    border-radius: 2rem;
    /* margin: auto; */
    background-color: #f3f3f3;
  }
  .card{
    padding: 2rem;
    border-radius: 2rem;
    font-family: 'K2D', sans-serif;
	  font-family: 'Pridi', serif;
  }